@font-face {
  font-family: "Akkurat-Mono";
  src: url("assets/fonts/Akkurat-Mono.otf") format("otf");
  font-weight: 1 1000;
  font-style: normal;
}
@font-face {
  font-family: "IBM-Mono";
  src: url("assets/fonts/IBMPlexMono-Regular.ttf") format("otf");
  font-weight: 1 1000;
  font-style: normal;
}
@font-face {
  font-family: "PP-Editorial";
  src: url("assets/fonts/PPEditorialNew-Variable.ttf") format("ttf");
  font-weight: 1 1000;
  font-style: normal;
}
:root {
  --red: #F40000;
  --blue: #243AFF;
  --light-gray: #CACACA;
  --medium-gray: #969696;
}

.intro-page {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/single-square.svg");
  background-repeat: repeat;
}

.intro-container {
  width: 36vw;
  margin: auto;
}
@media (orientation: portrait) {
  .intro-container {
    width: 80vw;
  }
}

.title {
  padding-top: 8vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 36vw;
}
@media (orientation: portrait) {
  .title {
    width: 80vw;
  }
}

.intro-text {
  padding-left: 1vw;
  padding-top: 4vh;
  font-weight: 600;
  font-family: "Akkurat-Mono", "IBM-Mono", "Courier New", Courier, monospace;
  width: auto;
}
@media (orientation: portrait) {
  .intro-text {
    width: 80vw;
    font-size: 2em;
  }
}

.start-button {
  display: flex;
}

.game-page {
  display: none;
  height: 100vh;
  background-color: white;
}

.game-container {
  width: 40vw;
  padding-top: 12vh;
  margin-left: auto;
  margin-right: auto;
}
@media (orientation: portrait) {
  .game-container {
    width: 70vw;
    padding-top: 6vh;
  }
}

.game-header-container {
  padding-bottom: 8vh;
}
@media (orientation: portrait) {
  .game-header-container {
    padding-bottom: 6vh;
  }
}

.game-header-row {
  display: flex;
  flex-direction: row;
  font-family: "Akkurat-Mono", "IBM-Mono", "Courier New", Courier, monospace;
  justify-content: space-between;
}

.game-header-text {
  font-size: 1vw;
  color: var(--medium-gray);
}
@media (orientation: portrait) {
  .game-header-text {
    font-size: 2em;
  }
}

.game-header-content {
  font-size: 4em;
  color: var(--red);
}
@media (orientation: portrait) {
  .game-header-content {
    font-size: 4em;
  }
}

.mistakes {
  text-align: right;
}

#reference-sentence {
  margin: auto;
  font-family: "Akkurat-Mono", "IBM-Mono", "Courier New", Courier, monospace;
  font-size: 2vw;
  text-align: center;
  padding-bottom: 6vh;
  line-height: 3vw;
  color: var(--light-gray);
}
@media (orientation: portrait) {
  #reference-sentence {
    font-size: 2em;
    padding-bottom: 4vh;
    line-height: 2em;
  }
}

.letter {
  width: 3.5vw;
  height: 3.5vw;
  border: 1px solid var(--light-gray);
  font-family: "Akkurat-Mono", "IBM-Mono", "Courier New", Courier, monospace;
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  caret-color: transparent;
  margin: 0.75vh;
}
@media (orientation: portrait) {
  .letter {
    width: 3em;
    height: 3em;
    font-size: 2em;
    margin: 0.75vh;
  }
}

input:focus {
  outline: none !important;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--blue);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--blue);
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

#berate-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.berate {
  position: absolute;
  font-family: "Akkurat-Mono", "IBM-Mono", "Courier New", Courier, monospace;
  font-size: 2em;
  color: var(--red);
}
@media (orientation: portrait) {
  .berate {
    font-size: 2.5em;
  }
}

.disappearingText {
  transition: opacity 0.25s;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

#restart-button {
  display: none;
  position: relative;
  z-index: 10;
}

.button {
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 4px;
  text-align: center;
  background-color: var(--red);
  font-family: "Akkurat-Mono", "IBM-Mono", "Courier New", Courier, monospace;
  color: white;
  font-size: 1.6em;
  cursor: pointer;
}
@media (orientation: portrait) {
  .button {
    width: 40vw;
    margin-top: 8vh;
    font-size: 2em;
  }
}

i {
  font-family: "PP-Editorial";
  font-size: 1.6em;
}
@media (orientation: portrait) {
  i {
    font-size: 2.4em;
  }
}

.typed {
  color: black;
}

#about {
  padding: 0.5vw;
  font-size: 1.5em;
  line-height: 2vw;
  text-align: center;
  font-family: "Akkurat-Mono";
  position: absolute;
  top: 10vh;
  right: 5vw;
  color: black;
  cursor: pointer;
  z-index: 2;
  background-color: var(--darkred);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@media (orientation: portrait) {
  #about {
    font-size: 2em;
    line-height: 6vw;
    padding: 1.5vw;
  }
}

#title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
}

#about-modal {
  z-index: 1;
  position: absolute;
  color: white;
  background-color: black;
  top: 10vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  font-family: "Akkurat-Mono";
  font-size: 1em;
  padding: 10vw;
}
@media (orientation: portrait) {
  #about-modal {
    width: 75vw;
    font-size: 2em;
    padding: 10vw;
    padding-top: 15vw;
    padding-bottom: 15vw;
    top: 10vh;
  }
}
#about-modal #x {
  cursor: pointer;
  float: right;
  transform: translate(4vw, -6vw);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@media (orientation: portrait) {
  #about-modal #x {
    font-size: 1em;
    transform: translate(2vh, -5vh);
  }
}

#shade {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 60%;
}

/*# sourceMappingURL=styles.css.map */
